<!--Begin About Modal-->

    <div id="aboutModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

            <h3 id="aboutModalLabel">About {{fname}} {{lname}}</h3>
        </div>

        <div class="modal-body">
           <h4>About</h4>
           <p>Info goes here</p>
           <hr/>
           <h4>Experience</h4>
           <p>Info goes here</p>
           <hr/>
           <h4>Education</h4>
           <p>Info goes here</p>
           <hr/>
           
                
            
        </div>

        <!--<div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" type="submit">Login</button>
        </div>-->
    </div><!--End About Modal-->