<!--Begin Contact Modal-->

    <div id="contactModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

            <h3 id="contactModalLabel">Contact {{fname}} {{lname}}</h3>
        </div>

        <div class="modal-body">
           <h4>Phone</h4>
           <p>{{phone}}</p>
           <hr/>
           <h4>Email</h4>
           <p>{{email}}</p>
           <hr/>
           <h4>Skype</h4>
           <p>{{skype}}</p>
           <hr/>  
        </div>

        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div><!--End Contact Modal-->