<div ng-controller="GalleryController">
    <ng-include src="'includes/topNav.html'"></ng-include>
    <div id="galleryPage" class="row-fluid">
        <!--Search and controls-->
        <div class="row-fluid">
            <ng-include src="'partials/components/searchTags.html'"></ng-include>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="projectsPeopleModel" btn-radio="'Projects'">Projects</button>
                <button type="button" class="btn btn-primary" ng-model="projectsPeopleModel" btn-radio="'People'">People</button>
            </div>
        </div>
        <!-- End search and controls-->
        <!--Gallery People-->
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span4" ng-repeat="item in row2">
                    <div class="thumbnail">
                        <div class="imgIcons">
                            <a href=""><i class="icon-star icon-2x"></i></a>
                            <a href="#contentModal" data-toggle="modal"><i class="icon-eye-open icon-2x"></i></a>
                            <a href=""><i class="icon-share icon-2x"></i></a>
                        </div>
                        <img class="portfolioContentImage" ng-src="{{item.image}}" alt="">

                        <div class="caption">
                            <h4>{{item.title}}</h4>

                            <p>{{item.date}}</p>

                            <p class="tags"><i class="icon-tag"></i>{{item.tags}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--End Gallery People-->

        <!--Gallery Projects-->
        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="span4" ng-repeat="item in row2">
                    <div class="thumbnail">
                        <div class="imgIcons">
                            <a href=""><i class="icon-star icon-2x"></i></a>
                            <a href="#contentModal" data-toggle="modal"><i class="icon-eye-open icon-2x"></i></a>
                            <a href=""><i class="icon-share icon-2x"></i></a>
                        </div>
                        <img class="portfolioContentImage" ng-src="{{item.image}}" alt="">

                        <div class="caption">
                            <h4>{{item.title}}</h4>

                            <p>{{item.date}}</p>

                            <p class="tags"><i class="icon-tag"></i>{{item.tags}}</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!--End Gallery Projects-->
    </div>
</div>
