<div id="row1" class="row-fluid">
    <div class="span4 offset4">
        <h3>HOW IT WORKS</h3>
    </div>
</div>
    
<div id="works" class="row-fluid">
    <div class="span2 offset2 centered">
        <img src="img/create.png" alt="create" id="createImg"/>
        <p>1. CREATE</p>
    </div>
    <div class="span2 offset1 centered">
        <img src="img/connected.png" alt="connect"/>
        <p>2. CONNECT</p>
    </div>
    <div class="span2 offset1 centered">
        <img src="img/collaborate.png" alt="collaborate" id="collaborateImg"/>
        <p>3. COLLABORATE</p>
    </div>
</div>


<div id="row2" class="row-fluid">
    <div class="span4 offset4">
        <h3>ONE STOP SHOP</h3>

        <p class="infoText">Youfolio imports all the information you want from all of your favorite and essential social platforms to one place.</p>
    </div>
</div>
    
<div id="socialIcons" class="row-fluid">
    <div class="span8 offset2" style="text-align:center;">
        <img id="socialIconImg" src="img/social.png" alt="social"/>
    </div>
</div>
    
<div id="yfFolder" class="row-fluid">
    <div class="span2 offset5" style="text-align:center;">
        <img src="img/yfFolder.png" alt="folder"/>
    </div>
</div>

<div id="row3" class="row-fluid">
    <div class="span4 offset4">
        <h3>THIS IS YOUFOLIO</h3>
        <p class="infoText">Take control of your professional online presence and stand out better than you may be able to do on LinkedIn, Facebook, Twitter, Pinterest or others.</p>
    </div>
</div>

<div id="row4" class="row-fluid">
    <div class="span10 offset1" style="text-align:center;">
        <h3>MEET THE TEAM</h3>
    </div>
</div>