<div id="team" class="row-fluid">
    <div class="span2 offset2">
        <img src="img/kayvon.png" alt="folder"/>
        <h4>Kayvon Kaviani</h4>
        CEO, Co-Founder
    </div>
    <div class="span2 offset1">
        <img src="img/matt.png" alt="folder"/>
        <h4>Matthew D. Moore</h4>
        President, Co-Founder
    </div>
    <div class="span2 offset1">
        We believe a few great people can make a big difference. We strive to hire the very best - people who are passionate, thoughtful and creative. We believe it is our obligation to relentlessly focus on what the learner values, and we make every decision with the learner in mind.
        <br/>
        <a href="" class="btn btn-youfolio">the whole crew&nbsp;&nbsp;<span class="whiteIcon icon-caret-right"></span></a>
    </div>
</div>
